form {
  margin: 20px;
}
label {
  color: white;
}
input {
  display: block;
  background: rgb(224, 219, 219);
  width: 200px;
  padding: 3px;
}
.btn {
  width: 200px;
  display: flex;
  justify-content: center;
}
.button1 {
  width: 80px;
  background: rgb(149, 99, 190);
  color: white;
  padding: 3px;
  margin: 4px;
  border-style: none;
}
.button2 {
  width: 200px;
  background: rgb(149, 99, 190);
  color: white;
  padding: 15px;
  margin: 20px;
  border-style: none;
  border-radius: 5px;
  font-weight: bold;
}
.center {
  display: flex;
  justify-content: center;
  background: rgb(116, 68, 80);
}
